<div th:fragment="form">

    <div class="card card-primary">
        <form th:action="@{/building/{type}(type=${type})}" method="post" enctype="multipart/form-data" th:object="${buildingForm}">
            <div class="card-body">

                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" th:field="*{country}" placeholder="Enter country" maxlength="32">
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" th:field="*{city}" placeholder="Enter city" maxlength="32">
                </div>

                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" id="street" th:field="*{street}" placeholder="Enter street" maxlength="64">
                </div>

                <div class="form-group">
                    <label for="number">Number</label>
                    <input type="text" class="form-control" id="number" th:field="*{number}" placeholder="Enter number" maxlength="12">
                </div>

                <div th:if="${type == 'update'}">
                    <input type="hidden" th:field="*{id}" />
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</div>
