<div th:fragment="form">

    <div class="card card-primary">
        <form th:action="@{/building/{type}(type=${type})}" method="post" enctype="multipart/form-data" th:object="${buildingForm}">
            <div class="card-body">

                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="Enter address" maxlength="32">
                </div>

                <div th:if="${type == 'update'}">
                    <input type="hidden" th:field="*{id}" />
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</div>
